<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add new game</title>
    </head>
    <body>
    <form th:method="POST" th:action="@{/games/new/{id}(id=${authorId})}" th:object="${game}">
        <input type="text" id="name" th:field="*{name}" placeholder="Name">
        <input type="text" id="creation_date" th:field="*{creationDate}" placeholder="Creation date">
        <input type="submit" value="Create game">
    </form>
    </body>
</html>