<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Game</title>
    </head>
    <body>
        <div style="border: 1px solid black; border-radius: 5px; width: 500px">
            <p th:text="${'Name: ' + game.getName()}"/>
            <p th:text="${'Creation date: ' + game.getCreationDate()}"/>
            <p>
                Author:
                <a
                    th:href="@{/authors/{id}(id=${game.getGameAuthor().getId()})}"
                    th:text="${game.getGameAuthor().getNickname()}"/>
            </p>
            <br>
            <form th:method="DELETE" th:action="@{/games/{id}(id=${game.getId()})}">
                <input type="submit" value="Delete game">
            </form>
            <br>
            <a th:href="@{/games/{id}/edit(id=${game.getId()})}">Edit</a>
        </div>
    </body>
</html>