<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Author</title>
  </head>
  <body>
        <div style="border: 1px solid black; border-radius: 5px; width: 500px">
            <p>Nick name: <span th:text="${author.getNickname()}"></span></p>
            <p>Birth date: <span th:text="${author.getBirthDate()}"></span></p>
            <p>Games:</p>
            <div th:each="game: ${author.getGames()}">
                <a th:href="@{/games/{id}(id=${game.getId()})}" th:text="${game.getName()}"></a>
            </div>
            <br>

            <a th:href="@{/games/new/{id}(id=${author.getId()})}">Add game</a>
            <br>
            <form th:method="DELETE" th:action="@{/authors/{id}(id=${author.getId()})}">
                <input type="submit" value="Delete author">
            </form>

            <br>
            <a th:href="@{/authors/{id}/edit(id=${author.getId()})}">Edit</a>
        </div>
  </body>
</html>