<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<p>Authors list:</p>

<div th:each="author: ${authors}">
    <div style="border: 1px solid black; padding: 10px; width: 200px">
        <a
            th:text="${author.getNickname()}"
            th:href="@{/authors/{id}(id=${author.getId()})}"
            style="text-decoration: none"></a>
    </div>
</div>
<br>

<a href="/authors/new" style="text-decoration: none">Add author</a><br>
<br>
<a href="/home">To home page</a>
</body>
</html>