<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Dog</title>
    </head>
    <body>
        <div style="border: 1px solid black; border-radius: 5px; width: 500px">
            <p th:text="${'Name: ' + dog.getName()}"/>
            <p th:text="${'Breed: ' + dog.getBreed()}"/>
            <p>
                Owner:
                <a
                    th:href="@{/users/{id}(id=${dog.getUser().getId()})}"
                    th:text="${dog.getUser().getFirstName() + ' ' + dog.getUser().getLastName()}"/>
            </p>
            <br>
            <form th:method="DELETE" th:action="@{/dogs/{id}(id=${dog.getId()})}">
                <input type="submit" value="Delete dog">
            </form>
            <br>
            <a th:href="@{/dogs/{id}/edit(id=${dog.getId()})}">Edit</a>
        </div>
    </body>
</html>