<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>New Game</title>
  </head>
  <body>
      <form th:method="POST" th:action="@{/games}" th:object="${game}">
        <input type="text" id="name" th:field="*{name}" placeholder="name">
        <input type="text" id="creationDate" th:field="*{creationDate}" placeholder="creation date">
        <input type="submit" value="Add game">
      </form>
        <br>
        <br>
        <a href="/games">Cancel</a>
  </body>
</html>