<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>User</title>
  </head>
  <body>
        <div style="border: 1px solid black; border-radius: 5px; width: 500px">
            <p>First name: <span th:text="${user.getFirstName()}"></span></p>
            <p>Last name: <span th:text="${user.getLastName()}"></span></p>
            <p>Dogs:</p>
            <div th:each="dog: ${user.getDogs()}">
                <a th:href="@{/dogs/{id}(id=${dog.getId()})}" th:text="${dog.getName()}"></a>
            </div>
            <br>

            <a th:href="@{/dogs/new/{id}(id=${user.getId()})}">Add dog</a>
            <br>
            <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete user">
            </form>

            <br>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
        </div>
  </body>
</html>